<main class="max-w-md mx-auto bg-white rounded-2xl border border-gray-200 p-4">
  <header class="relative">
    <!-- recipe image with dynamic source and alt text, ensuring a responsive display -->

    <img
      [src]="recipe?.imageUrl"
      [alt]="recipe?.title"
      class="w-full h-48 object-cover rounded-md mb-4"
    />

    <!-- favorite toggle button positioned absolutely on the top right corner -->
    <button
      type="button"
      (click)="toggleFavorite()"
      class="absolute top-2 right-2 bg-white rounded-full p-2 flex items-center"
    >
      <!-- dynamic icon for favorite/unfavorite state -->
      <img
        [src]="
          recipe?.isFavorite ? 'icons/favorite.svg' : 'icons/unfavorite.svg'
        "
        [alt]="recipe?.isFavorite ? 'Favorite' : 'Unfavorite'"
        class="w-5 h-5"
      />
    </button>
  </header>

  <!-- box with recipe title and description -->
  <section>
    <h2 class="text-xl font-semibold w-full truncate text-gray-800">
      {{ recipe?.title }}
    </h2>
    <p class="text-sm text-gray-600 w-full truncate">
      {{ recipe?.description }}
    </p>
  </section>

  <!-- container for action buttons -->
  <div class="mt-4 flex justify-end gap-2">
    <a
      [routerLink]="['/details/', recipe?.id]"
      class="px-4 py-2 border border-gray-300 rounded-md text-sm font-medium text-gray-700 hover:bg-gray-50"
    >
      See more
    </a>
  </div>
</main>
