<form
  class="flex justify-center w-full py-12 items-center"
  [formGroup]="form"
  (ngSubmit)="submitForm()"
>
  <mat-card class="w-full max-w-lg h-full">
    <mat-card-content class="space-y-3">
      <!-- Title Input Field -->
      <mat-form-field class="w-full">
        <mat-label>Title</mat-label>
        <input
          matInput
          type="text"
          id="title"
          formControlName="title"
          placeholder="Title"
          aria-label="Recipe Title"
        />
        <mat-error
          *ngIf="form.get('title')?.hasError('required')"
          id="title-required"
        >
          Title is required
        </mat-error>
        <mat-error
          *ngIf="form.get('title')?.hasError('minlength')"
          id="title-minlength"
        >
          Title must be at least 3 characters long
        </mat-error>
        <mat-error
          *ngIf="form.get('title')?.hasError('maxlength')"
          id="title-maxlength"
        >
          Title cannot exceed 50 characters
        </mat-error>
      </mat-form-field>

      <!-- Description Input Field -->
      <mat-form-field class="w-full">
        <mat-label>Description</mat-label>
        <input
          matInput
          type="text"
          id="description"
          formControlName="description"
          placeholder="Description"
          aria-label="Recipe Description"
        />
        <mat-error
          *ngIf="form.get('description')?.hasError('required')"
          id="description-required"
        >
          Description is required
        </mat-error>
        <mat-error
          *ngIf="form.get('description')?.hasError('minlength')"
          id="description-minlength"
        >
          Description must be at least 10 characters long
        </mat-error>
        <mat-error
          *ngIf="form.get('description')?.hasError('maxlength')"
          id="description-maxlength"
        >
          Description cannot exceed 500 characters
        </mat-error>
      </mat-form-field>

      <!-- Ingredients -->
      <div formArrayName="ingredients">
        <mat-form-field class="w-full">
          <mat-label>Ingredients</mat-label>
          <input
            matInput
            type="text"
            id="ingredients"
            [formControl]="ingredientFormCtrl"
            placeholder="Ingredients"
            aria-label="Add Ingredient"
            (keydown.enter)="$event.preventDefault(); addIngredient()"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="addIngredient()"
          >
            <mat-icon>add</mat-icon>
          </button>
          <mat-error
            *ngIf="form.get('ingredients')?.hasError('required')"
            id="ingredients-required"
          >
            At least one ingredient is required
          </mat-error>
        </mat-form-field>

        <!-- Display Ingredients as Chips -->
        <mat-chip-set aria-label="ingredient-tags">
          @for (ingredient of ingredients.controls; track ingredient.value +
          $index) {
          <mat-chip>
            {{ ingredient.value }}
            <button
              mat-icon-button
              matChipRemove
              (click)="removeIngredient($index)"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          }
        </mat-chip-set>
      </div>

      <!-- Instructions Textarea -->
      <mat-form-field class="w-full">
        <mat-label>Instructions</mat-label>
        <textarea
          matInput
          id="instructions"
          formControlName="instructions"
          placeholder="Instructions"
          aria-label="Recipe Instructions"
        ></textarea>
        <mat-error
          *ngIf="form.get('instructions')?.hasError('required')"
          id="instructions-required"
        >
          Instructions are required
        </mat-error>
        <mat-error
          *ngIf="form.get('instructions')?.hasError('minlength')"
          id="instructions-minlength"
        >
          Instructions must be at least 20 characters long
        </mat-error>
      </mat-form-field>

      <div
        class="flex sm:flex-row flex-col justify-between gap-x-4 items-center"
      >
        <!-- Image URL Input -->
        <mat-form-field class="w-full sm:w-1/2 md:w-3/4 h-fit">
          <mat-label>Image URL</mat-label>
          <input
            matInput
            type="text"
            id="imageUrl"
            formControlName="imageUrl"
            placeholder="Image URL"
            aria-label="Image URL"
          />
          <mat-error
            *ngIf="form.get('imageUrl')?.hasError('required')"
            id="imageUrl-required"
          >
            Image URL is required
          </mat-error>
          <mat-error
            *ngIf="form.get('imageUrl')?.hasError('pattern')"
            id="imageUrl-pattern"
          >
            Please enter a valid image URL (e.g., http://example.com/image.jpg)
          </mat-error>
        </mat-form-field>
        <!-- Image Preview -->
        <img
          [src]="form.get('imageUrl')?.value || null"
          *ngIf="form.get('imageUrl')?.value"
          class="w-full sm:w-1/2 md:w-1/4 rounded"
          alt="Recipe Image Preview"
        />
      </div>
      <!-- Favorite Checkbox -->
      <mat-checkbox
        formControlName="isFavorite"
        class="my-2"
        aria-label="Mark as Favorite"
      >
        Mark as Favorite
      </mat-checkbox>

      <!-- Submit Button -->
      <button mat-flat-button color="primary" type="submit" class="w-full">
        Submit
      </button>
    </mat-card-content>
  </mat-card>
</form>
