<div class="max-w-screen-xxl mx-auto px-4 py-8">
  <div *ngIf="currentRecipe$ | async as recipe" class="space-y-8">
    <!-- Header Section -->
    <header class="border-b border-borderC pb-6">
      <div class="flex justify-between items-center">
        <h1 class="text-4xl font-medium">{{ recipe.title }}</h1>
        <button (click)="toggleFavorite(recipe.id, recipe.isFavorite)">
          @if(recipe.isFavorite){
          <img src="icons/favorite.svg" class="size-8" alt="favorite" />
          } @else{
          <img src="icons/unfavorite.svg" class="size-8" alt="favorite" />
          }
        </button>
      </div>
    </header>

    <!-- Image and Description Section -->
    <div class="grid md:grid-cols-2 gap-8">
      <img
        [src]="recipe.imageUrl"
        [alt]="recipe.title"
        class="w-full max-h-[400px] object-cover rounded-lg shadow-lg"
      />
      <div class="space-y-4">
        <h2 class="text-2xl font-medium">Description</h2>
        <p class="text-gray-700">{{ recipe.description }}</p>
      </div>
    </div>

    <!-- Ingredients Section -->
    <div class="space-y-4">
      <h2 class="text-2xl font-medium">Ingredients</h2>
      <ul class="list-disc pl-6 space-y-2">
        <li *ngFor="let ingredient of recipe.ingredients" class="text-gray-700">
          {{ ingredient }}
        </li>
      </ul>
    </div>

    <!-- Instructions Section -->
    <div class="space-y-4">
      <h2 class="text-2xl font-medium">Instructions</h2>
      <ul>
        <li *ngFor="let step of recipe.instructions.split('\n')">{{ step }}</li>
      </ul>
    </div>

    <!-- Edit Form Section -->
    <ng-container *ngIf="isEditing()" class="mt-8">
      <h2 class="text-2xl font-medium mb-4">Edit Recipe</h2>
      <app-recipe-form
        [initialValues]="initialValues"
        (submitEvent)="onSubmit($event)"
      >
        <!-- show feedback if the form is submitting -->
        <app-loading *ngIf="isLoading()"></app-loading>
      </app-recipe-form>
    </ng-container>

    <!-- Action Buttons -->
    <div class="flex gap-4">
      <button mat-stroked-button type="button" (click)="toggleEdit()">
        {{ isEditing() ? "Cancel Edit" : "Edit Recipe" }}
      </button>
      <button
        mat-stroked-button
        style="border-color: red; color: red"
        (click)="deleteRecipe(recipe.id)"
        type="button"
      >
        Delete Recipe
      </button>
    </div>
  </div>
</div>
