<ng-container *ngIf="currentRecipe$ | async as recipe">
  <main class="max-w-screen-xxl px-2 xs:px-6 md:px-8 mx-auto pb-8">
    <!-- Details view -->
    <ng-container *ngIf="!isEditing(); else editMode">
      <section class="flex flex-col gap-y-6 gap-x-8 md:flex-row w-full pt-8">
        <!-- Image and Description Section -->
        <div class="w-full md:w-1/2">
          <img
            [src]="recipe.imageUrl"
            [alt]="recipe.title"
            class="w-full max-h-[400px] object-cover sm:rounded-lg shadow-lg"
          />
        </div>

        <section class="w-full md:w-1/2">
          <div class="space-y-4">
            <div class="flex justify-between items-center">
              <!-- Main info section -->
              <div class="w-3/4 space-y-2">
                <h1
                  class="text-3xl font-medium w-full text-ellipsis break-words line-clamp-2"
                >
                  {{ recipe.title }}
                </h1>
                <p
                  class="text-gray-700 w-full text-ellipsis break-words line-clamp-2"
                >
                  {{ recipe.description }}
                </p>
              </div>
              <!-- Favorite/Unfavorite button -->
              <div class="size-fit">
                <button (click)="toggleFavorite(recipe.id, recipe.isFavorite)">
                  @if(recipe.isFavorite){
                  <img src="icons/favorite.svg" class="size-8" alt="favorite" />
                  } @else{
                  <img
                    src="icons/unfavorite.svg"
                    class="size-8"
                    alt="favorite"
                  />
                  }
                </button>
              </div>
            </div>
            <!-- Accordion for displaying ingredients and instructions for recipe -->
            <div>
              <cdk-accordion class="w-full">
                <!-- Ingredients section -->
                <cdk-accordion-item
                  #ingredientsAccordion="cdkAccordionItem"
                  class="accordion-item"
                >
                  <button
                    class="accordion-item-header"
                    (click)="ingredientsAccordion.toggle()"
                    tabindex="0"
                    [attr.id]="'accordion-header-' + 0"
                    [attr.aria-expanded]="ingredientsAccordion.expanded"
                    [attr.aria-controls]="'accordion-body-' + 0"
                  >
                    Ingredients
                    <span class="accordion-item-description">
                      Click to
                      {{ ingredientsAccordion.expanded ? "close" : "open" }}
                    </span>
                  </button>
                  @if(ingredientsAccordion.expanded) {
                  <div
                    class="accordion-item-body"
                    role="region"
                    [style.display]="
                      ingredientsAccordion.expanded ? '' : 'none'
                    "
                    [attr.id]="'accordion-body-' + 0"
                    [attr.aria-labelledby]="'accordion-header-' + 0"
                  >
                    <ul class="px-4 list-disc text-ellipsis break-words">
                      @for(ingredient of recipe.ingredients; track ingredient) {
                      <li>
                        {{ ingredient }}
                      </li>
                      }
                    </ul>
                  </div>
                  }
                </cdk-accordion-item>

                <!-- Instructions section -->
                <cdk-accordion-item
                  #instructionsAccordion="cdkAccordionItem"
                  class="accordion-item"
                >
                  <button
                    class="accordion-item-header"
                    (click)="instructionsAccordion.toggle()"
                    tabindex="1"
                    [attr.id]="'accordion-header-' + 1"
                    [attr.aria-expanded]="instructionsAccordion.expanded"
                    [attr.aria-controls]="'accordion-body-' + 1"
                  >
                    Instructions
                    <span class="accordion-item-description">
                      Click to
                      {{ instructionsAccordion.expanded ? "close" : "open" }}
                    </span>
                  </button>
                  @if(instructionsAccordion.expanded) {
                  <div
                    class="accordion-item-body"
                    role="region"
                    [style.display]="
                      instructionsAccordion.expanded ? '' : 'none'
                    "
                    [attr.id]="'accordion-body-' + 1"
                    [attr.aria-labelledby]="'accordion-header-' + 1"
                  >
                    <ul class="text-ellipsis break-words">
                      <li *ngFor="let step of recipe.instructions.split('\n')">
                        {{ step }}
                      </li>
                    </ul>
                  </div>
                  }
                </cdk-accordion-item>
              </cdk-accordion>
            </div>
          </div>
          <ng-content select="[actions-buttons]" />
          <!-- Action Buttons -->
          <div
            class="mx-auto flex flex-col sm:flex-row gap-4 mt-4 w-full justify-end"
          >
            <button mat-flat-button type="button" (click)="toggleEdit()">
              {{ isEditing() ? "Cancel Edit" : "Edit Recipe" }}
            </button>
            <button
              mat-stroked-button
              style="border-color: red; color: red"
              (click)="deleteRecipe(recipe.id)"
              type="button"
            >
              Delete Recipe
            </button>
          </div>
        </section>
      </section>
    </ng-container>
    <!-- Edit Form -->
    <ng-template #editMode>
      <main class="mt-8">
        <app-recipe-form
          [initialValues]="initialValues"
          (submitEvent)="onSubmit($event)"
        >
          <ng-container loading>
            <!-- show feedback if the form is submitting via content projection -->
            <div *ngIf="isLoading()" class="py-6">
              <app-loading></app-loading>
            </div>
          </ng-container>

          <ng-container actions-buttons>
            <!-- Action Buttons -->
            <div
              class="mx-auto flex flex-col sm:flex-row gap-4 w-full justify-end mt-4"
            >
              <button mat-flat-button type="button" (click)="toggleEdit()">
                {{ isEditing() ? "Cancel Edit" : "Edit Recipe" }}
              </button>
              <button
                mat-stroked-button
                style="border-color: red; color: red"
                (click)="deleteRecipe(recipe.id)"
                type="button"
              >
                Delete Recipe
              </button>
            </div>
          </ng-container>
        </app-recipe-form>
      </main>
    </ng-template>
  </main>
</ng-container>
