<main class="max-w-screen-xxl space-y-6 p-4 md:p-6 mx-auto">
  <header
    class="flex w-full justify-between border-b border-b-borderC items-center pb-4"
  >
    <h1 class="text-4xl">Recipe Submission</h1>
  </header>
  <section>
    <app-recipe-form (submitEvent)="onSubmit($event)">
      <ng-container loading>
        <!-- show feedback if the form is submitting via content projection -->
        <div *ngIf="isLoading()" class="py-6">
          <app-loading></app-loading>
        </div>
      </ng-container>
    </app-recipe-form>
  </section>
</main>
