<form
  class="flex justify-center w-full py-12 items-center"
  [formGroup]="form"
  (ngSubmit)="submitForm()"
>
  <div
    class="w-full max-w-md h-full bg-white py-6 sm:py-9 md:py-12 px-2 sm:px-3 md:px-4 rounded-lg border border-borderC"
  >
    <fieldset class="space-y-3">
      <!-- Title Input Field -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Title</mat-label>
        <input
          matInput
          type="text"
          id="title"
          formControlName="title"
          placeholder="Title"
          aria-label="Recipe Title"
        />
        <mat-error
          *ngIf="form.get('title')?.hasError('required')"
          id="title-required"
        >
          Title is required
        </mat-error>
        <mat-error
          *ngIf="form.get('title')?.hasError('minlength')"
          id="title-minlength"
        >
          Title must be at least 3 characters long
        </mat-error>
        <mat-error
          *ngIf="form.get('title')?.hasError('maxlength')"
          id="title-maxlength"
        >
          Title cannot exceed 50 characters
        </mat-error>
      </mat-form-field>

      <!-- Description Input Field -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Description</mat-label>
        <input
          matInput
          type="text"
          id="description"
          formControlName="description"
          placeholder="Description"
          aria-label="Recipe Description"
        />
        <mat-error
          *ngIf="form.get('description')?.hasError('required')"
          id="description-required"
        >
          Description is required
        </mat-error>
        <mat-error
          *ngIf="form.get('description')?.hasError('minlength')"
          id="description-minlength"
        >
          Description must be at least 10 characters long
        </mat-error>
        <mat-error
          *ngIf="form.get('description')?.hasError('maxlength')"
          id="description-maxlength"
        >
          Description cannot exceed 500 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Ingredients</mat-label>
        <mat-chip-grid
          #reactiveChipGrid
          aria-label="Enter ingredients"
          formControlName="ingredients"
        >
          @for (ingredient of ingredients(); track ingredient) {
          <mat-chip-row (removed)="removeIngredient(ingredient)">
            {{ ingredient }}
            <button
              matChipRemove
              aria-label="'remove reactive form' + ingredient"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
        </mat-chip-grid>
        <input
          placeholder="New ingredient..."
          [matChipInputFor]="reactiveChipGrid"
          (matChipInputTokenEnd)="addIngredient($event)"
        />
        <mat-error
          *ngIf="form.get('ingredients')?.hasError('required')"
          id="ingredients-required"
        >
          Ingredients are required
        </mat-error>
      </mat-form-field>

      <!-- Instructions Textarea -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Instructions</mat-label>
        <textarea
          matInput
          id="instructions"
          formControlName="instructions"
          placeholder="Instructions"
          aria-label="Recipe Instructions"
        ></textarea>
        <mat-error
          *ngIf="form.get('instructions')?.hasError('required')"
          id="instructions-required"
        >
          Instructions are required
        </mat-error>
        <mat-error
          *ngIf="form.get('instructions')?.hasError('minlength')"
          id="instructions-minlength"
        >
          Instructions must be at least 20 characters long
        </mat-error>
      </mat-form-field>

      <div class="flex flex-row justify-between gap-x-4 items-start">
        <!-- Image URL Input -->
        <mat-form-field appearance="outline" class="w-full h-fit">
          <mat-label>Image URL</mat-label>
          <input
            matInput
            type="text"
            id="imageUrl"
            formControlName="imageUrl"
            placeholder="Image URL"
            aria-label="Image URL"
          />
          <mat-error
            *ngIf="form.get('imageUrl')?.hasError('required')"
            id="imageUrl-required"
          >
            Image URL is required
          </mat-error>
          <mat-error
            *ngIf="form.get('imageUrl')?.hasError('pattern')"
            id="imageUrl-pattern"
          >
            Please enter a valid image URL (e.g., http://example.com/image.jpg)
          </mat-error>
        </mat-form-field>
        <!-- Image Preview -->
        <img
          [src]="form.get('imageUrl')?.value || null"
          *ngIf="form.get('imageUrl')?.value"
          class="w-1/4 rounded"
          alt="Recipe Image Preview"
        />
      </div>
      <!-- Favorite Checkbox -->
      <mat-checkbox
        formControlName="isFavorite"
        class="my-2"
        aria-label="Mark as Favorite"
      >
        Mark as Favorite
      </mat-checkbox>

      <!-- Submit Button -->
      <button mat-flat-button color="primary" type="submit" class="w-full">
        Submit
      </button>
    </fieldset>
  </div>
</form>
