<form
  class="w-full flex flex-col md:flex-row md:-x-6 lg:gap-x-8 gap-y-8 items-center md:items-start md:justify-between"
  [formGroup]="form"
  (ngSubmit)="submitForm()"
>
  <main
    class="md:m-0 w-full md:w-9/12 lg:w-11/12 h-fit bg-white py-4 sm:py-6 md:py-8 px-2 sm:px-3 md:px-4 rounded-lg border border-borderC shadow-lg"
  >
    <fieldset class="space-y-3">
      <!-- Title Input Field -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Title</mat-label>
        <input
          matInput
          type="text"
          id="title"
          formControlName="title"
          placeholder="Title"
          aria-label="Recipe Title"
          minlength="3"
          maxlength="51"
        />
        <mat-error *ngIf="form.get('title')?.hasError('required')">
          Title is required
        </mat-error>
        <mat-error *ngIf="form.get('title')?.hasError('minlength')">
          Title must be at least 3 characters long
        </mat-error>
        <mat-error *ngIf="form.get('title')?.hasError('maxlength')">
          Title cannot exceed 50 characters
        </mat-error>
      </mat-form-field>

      <!-- Description Input Field -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          minlength="10"
          maxlength="250"
          type="text"
          id="description"
          formControlName="description"
          placeholder="Description"
          aria-label="Recipe Description"
        ></textarea>
        <mat-error *ngIf="form.get('description')?.hasError('required')">
          Description is required
        </mat-error>
        <mat-error *ngIf="form.get('description')?.hasError('minlength')">
          Description must be at least 10 characters long
        </mat-error>
        <mat-error *ngIf="form.get('description')?.hasError('maxlength')">
          Description cannot exceed 250 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Ingredients</mat-label>
        <mat-chip-grid
          #reactiveChipGrid
          aria-label="Enter ingredients"
          formControlName="ingredients"
        >
          @for (ingredient of ingredients(); track ingredient) {
          <mat-chip-row (removed)="removeIngredient(ingredient)">
            {{ ingredient }}
            <button matChipRemove aria-label="remove ingredient">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
        </mat-chip-grid>
        <input
          placeholder="New ingredient..."
          [matChipInputFor]="reactiveChipGrid"
          maxlength="36"
          (matChipInputTokenEnd)="addIngredient($event)"
        />
        <mat-error *ngIf="form.get('ingredients')?.hasError('required')">
          Ingredients are required
        </mat-error>
      </mat-form-field>

      <!-- Instructions Textarea -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Instructions</mat-label>
        <textarea
          matInput
          id="instructions"
          formControlName="instructions"
          minlength="20"
          maxlength="500"
          placeholder="Instructions"
          aria-label="Recipe Instructions"
        ></textarea>
        <mat-error *ngIf="form.get('instructions')?.hasError('required')">
          Instructions are required
        </mat-error>
        <mat-error *ngIf="form.get('instructions')?.hasError('minlength')">
          Instructions must be at least 20 characters long
        </mat-error>
        <mat-error *ngIf="form.get('instructions')?.hasError('maxlength')">
          Instructions must be at most 500 characters long
        </mat-error>
      </mat-form-field>

      <div
        class="flex flex-col xs:flex-row justify-between gap-x-4 items-center"
      >
        <!-- Image URL Input -->
        <mat-form-field appearance="outline" class="w-full h-fit">
          <mat-label>Image URL</mat-label>
          <input
            matInput
            type="url"
            id="imageUrl"
            formControlName="imageUrl"
            placeholder="Image URL"
            aria-label="Image URL"
          />
          <mat-error *ngIf="form.get('imageUrl')?.hasError('required')">
            Image URL is required
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Favorite Checkbox -->
      <mat-checkbox
        formControlName="isFavorite"
        class="my-2"
        aria-label="Mark as Favorite"
      >
        Mark as Favorite
      </mat-checkbox>

      <ng-content select="[loading]" />
      <!-- Submit Button -->
      <button mat-flat-button color="primary" type="submit" class="w-full">
        Submit
      </button>
    </fieldset>
  </main>

  <!-- Preview section -->
  <!-- Information dynamically updated via reactive forms -->
  <section
    class="px-4 w-full md:max-w-sm lg:max-w-lg xl:max-w-xl xxl:max-w-2xl"
  >
    <!-- Image preview -->
    <header class="w-full">
      <img
        [src]="
          (form.get('imageUrl')?.dirty && form.get('imageUrl')?.value) ||
          initialValues?.imageUrl
            ? form.get('imageUrl')?.value
            : '/images/image-placeholder.png'
        "
        class="mx-auto h-[40vh] w-full object-cover border border-borderC rounded-lg"
        alt="Recipe Image Preview"
      />
    </header>

    <!-- Preview for all the info entered in form -->
    <section class="w-full py-4 space-y-4">
      <div class="w-full flex justify-between items-center">
        <!-- Main info section -->
        <div class="w-3/4 space-y-2">
          <div class="w-full">
            <h1 class="text-3xl font-medium w-full text-ellipsis break-words">
              {{ form.get("title")?.value }}
            </h1>
          </div>
          <div class="w-full">
            <p class="text-gray-700 w-full text-ellipsis break-words">
              {{ form.get("description")?.value }}
            </p>
          </div>
        </div>
        <!-- Favorite/Unfavorite button -->
        <div class="size-fit">
          <button type="button">
            @if(form.get('isFavorite')?.value){
            <img src="icons/favorite.svg" class="size-8" alt="favorite" />
            } @else{
            <img src="icons/unfavorite.svg" class="size-8" alt="favorite" />
            }
          </button>
        </div>
      </div>
      <!-- Accordion for displaying ingredients and instructions for recipe -->
      <div class="w-full">
        <cdk-accordion
          class="mx-auto accordion max-w-full md:max-w-sm lg:max-w-full"
        >
          <!-- Ingredients section -->
          <cdk-accordion-item
            #ingredientsAccordion="cdkAccordionItem"
            class="accordion-item"
          >
            <button
              type="button"
              class="accordion-item-header"
              (click)="ingredientsAccordion.toggle()"
              tabindex="0"
              [attr.id]="'accordion-header-' + 0"
              [attr.aria-expanded]="ingredientsAccordion.expanded"
              [attr.aria-controls]="'accordion-body-' + 0"
            >
              Ingredients
              <span class="accordion-item-description">
                Click to
                {{ ingredientsAccordion.expanded ? "close" : "open" }}
              </span>
            </button>
            @if(ingredientsAccordion.expanded) {
            <div
              class="accordion-item-body"
              role="region"
              [style.display]="ingredientsAccordion.expanded ? '' : 'none'"
              [attr.id]="'accordion-body-' + 0"
              [attr.aria-labelledby]="'accordion-header-' + 0"
            >
              <ul class="px-4 list-disc text-ellipsis break-words">
                @for(ingredient of form.get('ingredients')?.value; track
                ingredient.length) {
                <li>
                  {{ ingredient }}
                </li>
                }
              </ul>
            </div>
            }
          </cdk-accordion-item>

          <!-- Instructions section -->
          <cdk-accordion-item
            #instructionsAccordion="cdkAccordionItem"
            class="accordion-item"
          >
            <button
              type="button"
              class="accordion-item-header"
              (click)="instructionsAccordion.toggle()"
              tabindex="1"
              [attr.id]="'accordion-header-' + 1"
              [attr.aria-expanded]="instructionsAccordion.expanded"
              [attr.aria-controls]="'accordion-body-' + 1"
            >
              Instructions
              <span class="accordion-item-description">
                Click to
                {{ instructionsAccordion.expanded ? "close" : "open" }}
              </span>
            </button>
            @if(instructionsAccordion.expanded) {
            <div
              class="accordion-item-body"
              role="region"
              [style.display]="instructionsAccordion.expanded ? '' : 'none'"
              [attr.id]="'accordion-body-' + 1"
              [attr.aria-labelledby]="'accordion-header-' + 1"
            >
              <ul class="text-ellipsis break-words">
                <li
                  *ngFor="
                    let step of form.get('instructions')?.value?.split('\n')
                  "
                >
                  {{ step }}
                </li>
              </ul>
            </div>
            }
          </cdk-accordion-item>
        </cdk-accordion>
        <ng-content select="[actions-buttos]" />
      </div>
    </section>
  </section>
</form>
